
.courses-table
  width: 100%
  height: 100%
  gap: 10px
  padding: 20px 30px
  background: white


.header
  display: flex
  width: 100%
  flex-direction: row
  height: 40px
  align-items: center
  gap: 15px
  margin-bottom: 20px

.filterA
  display: flex
  padding: 6px 10px
  gap: 20px
  background: #FFF
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25)

.header select
  font-size: 14px
  outline: none
  border: 0
  color: #DC2626
  background: transparent

select option
  font-size: 12px

::-webkit-scrollbar
  display: none

.table-container
  width: 100%

Table
  border-collapse: collapse
  display: flex
  flex-direction: column
  gap: 5px


thead tr
  background: #EDEFF2
  display: flex
  text-align: left
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25)


th
  font-weight: 500

tbody
  display: flex
  flex-direction: column
  gap: 3px


tbody tr
  background: #FFF
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25)
  display: flex
  font-weight: 300

tbody tr:hover
  transform: scale(0.99)
  transition: ease 0.5s

th, td
  padding: 8px 15px

.code
  width: 150px

.course-name
  width: 350px

.update
  width: 200px

.status
  width: 120px

.fill
  flex-grow: 1
  padding-right: 25px
  display: flex
  justify-content: end
  align-items: center
  gap: 5px



