.navi
  width: 100%
  background: white
  display: flex
  padding: 10px 10px 10px 10px
  gap: 8px
  height: 65px
  align-items: center


.return
  padding: 10px 20px
  border-radius: 5px
  //border: 1px solid #8B999D
  display: flex
  background: #8B999D
  align-items: center
  font-size: 14px
  font-weight: 500
  gap: 5px
  cursor: pointer
  color: white

.save
  padding: 10px 30px
  border-radius: 5px
  border: 1px solid #8B999D
  font-size: 14px
  font-weight: 500
  background: #19282C
  color: white
  cursor: pointer