.container
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  gap: 6px

.form-container
  display: flex
  background: white
  flex-grow: 1
  height: 200px
  padding: 15px 30px 50px 30px
  flex-direction: column
  overflow-y: auto
  gap: 16px

.list
  display: flex
  flex-direction: row
  width: 100%
  height: max-content
  gap: 10px

.tlas
  flex-grow: 1
  margin-left: 20px
  display: flex
  flex-direction: column
  height: max-content
  gap: 14px
  padding: 20px
  border-radius: 5px
  border: 1px solid #DDDFDF
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25)

.rubric-header
  display: grid
  grid-template-columns: 1fr 1fr 1fr 40px
  font-weight: 500
  color: #333
  margin-bottom: 8px
  gap: 10px

.rubric-row
  display: grid
  grid-template-columns: 1fr 1fr 1fr 40px
  gap: 10px
  align-items: center
  margin-bottom: 8px

.rubric-row .x
  display: flex
  justify-content: center
  align-items: center
  background: #ff5c5c
  border-radius: 4px
  cursor: pointer
  padding: 4px

