*
  padding: 0

.main-layout
  width: 100%
  height: 100%
  background: #F3F4F6
  display: flex
  flex-direction: row
  gap: 10px

.left
  background: white
  width: 90px
  height: 100%

.left:hover
  width: 250px
  transition: ease 0.4s

.right
  background: #F3F4F6
  flex-grow: 1
  height: 100%
  display: flex
  flex-direction: column
  gap: 6px

.up
  min-height: 80px
  height: 80px
  width: 100%
  background: white
  //overflow: hidden

.down
  flex-grow: 1
  width: 100%
  overflow: hidden
  //background: white




